@import 'global-variable.less';

.main{
	.introductiontext{
	    font-family: @font-family-short;
	    font-size: 17px;
	    line-height: 24px;
	    color:#000;
	}
	
	.spin-arrow{
			position: absolute;
			top: 33px;
			left: 18px;
			width: 30px;
			height: 29px;
			background:url("images/spinarrow.png") no-repeat;
		}

	.block-faq-open{
		margin-bottom: 12px;
		position: relative;
		min-height: 740px;
		
		.question-description{
		    padding: 30px 28px 27px 83px;
		}

		.question-list{
			padding-bottom: 40px;

			.item{
				border-bottom: @border;
				color:@color-gray;
				line-height: 40px;

				a{
					padding: 0;
					cursor: pointer;

					.title{
						padding: 0 83px;
						font-size: 18px;
					}

					&:hover{
						color: #000;
						background-color: #f1f1f1;
					
						.ul-arrow{
							background: url("images/ul-arrow-black.png") no-repeat;
						}
					}

					.ul-arrow{
						top: 14px;
					}
				}

				&:first-child a{
					border-top: @border;
				}

				.detail{
					display: none;
					font-size: 14px;
					line-height: 21px;
				}

				p{
					padding: 0 28px 0 83px;
					margin: 28px 0 0 0;

					&:last-child{
						padding: 0 28px 0 83px;
						font-size: 14px;
						line-height: 40px;
						background: #f1f1f1;

						a {
							margin-right: 5px;
							padding: 7px 11px;
							text-align: center;
							background-color: #fff;
							color: @color-gray;
							text-decoration: none;

							&:first-child{
								margin-left: 16px;
								padding: 7px 15px;
							}
						}
					}
				}
			}
		}
	}
}
.titleopenstyle{
	color: @color-orange !important;
}
.iopenstyle{
	width: 12px !important;
	height: 8px !important;
	background: url("images/ul-arrow-orange.png") no-repeat !important;
}