@import 'global-variable.less';

.sidebar {
    .block-button{
        margin-bottom: 22px;
        padding: 0 !important;

        a{
            padding: 21px 20px 20px;
            display: block;
            background: @color-orange url("images/bigbutton-arrow-white.png") no-repeat 91%;
            color: #fff;
            font-family: @font-family-short;
            font-weight: bold;
            font-size: 24px;
            line-height: 20px;
            text-decoration: none;

            &:hover{
                opacity: 0.85;
            }
        }
    }  
}