@import 'global-variable.less';

.main{
    .pagetitle{
        margin-bottom: 14px;
        display: inline-block;
        width: 333px;
        font-size: 20px;
        font-weight: bold;
        color: @color-orange;
        line-height: 24px;
    }
        
    .block-article{
        position: relative;
        margin-bottom: 12px;
        padding: 30px 28px 40px 83px;
        color: #464646;
        line-height: 18px;

        .passage{
            .subtitle{
                font-size: 14px;
                font-weight: bold;
                color: @color-orange;
            }

             p{
                margin-bottom: 20px;

                &:first-child{
                    margin-bottom: 30px;
                }

                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
    }
}