.sidebar{
    .block-contact-info{
        padding-bottom: 15px;

        .title{
            margin-bottom: 22px !important;
        }

        dl{
            margin-top: 18px;
            color:#464646;
            font-size: 13px;
            line-height: 18px;

            dt{
                font-weight: bold;
            }       
        }
    }
}