.main-bottom {
    .block-tweets{
    	width: 231px;
        background: #bbeffa;
        font-size: 11px;
        line-height: 16px;
        color: #1c1c1c;

        span{
            display: block;
            color: #32ccfe;
        }

        .title{
            margin-bottom: 17px !important;
            // .main-bottom .block-tweets span;
            display: block !important;
            color: #32ccfe !important;
        }

        .style{
            display: block;
            color: #32ccfe;
        }

        .tweets-box{
            padding: 7px 15px 5px 20px;
            border-top: 1px #fff solid;

            span.second{
                display: inline;
                color: #1c1c1c;
                text-decoration: underline;
            }

            &:first-child{
                margin-top: 21px; 
            }

            a {
                margin: 7px 0 11px;
                padding: 0 28px 0 8px;
                float: right;
                height: 21px;
                background: #32ccfe url("images/twitter.png") no-repeat center right;
                font-family: Calibri;
                font-size: 14px;
                font-weight: bold;
                line-height: 18px;
                color: #fff;
                text-decoration: none;
                cursor: pointer;
            }
        }
    }
}