@import 'global-variable.less';

.sidebar {
    .title-pos{
        margin-left:20px;
    }

    .block-submenu li{
        position: relative;
        border-top: @border;
        line-height: 34px;

        &:hover .ul-arrow{
            background: url("images/ul-arrow-black.png") no-repeat;
        }
    }
}

.submenu{
    position: relative;
    padding:0 20px;
    display: block;
    color: @color-gray;
    text-decoration: none;
    z-index: 1;
}

.ul-arrow{
    position: absolute;
    top: 11px;
    right: 16px;
    width: 8px;
    height: 12px;
    background: url("images/ul-arrow-gray.png") no-repeat;
}