.main-bottom {
    .block-faq{
        padding-bottom: 7px;
        width: 476px;
        font-size: 13px;
        line-height: 18px;

        > a{
            margin-right: 22px;
            padding-right: 26px;
            float: right;
            background: url("images/faq-arrow-gray.png") no-repeat right;
            color: #878787;
            font-size: 13px;
            line-height: 18px;

            &:hover{
                background: url("images/faq-arrow-black.png") no-repeat right;

            }
        }

        li{
            border-top: 1px #e8e8e8 solid;
            line-height: 33px;

            &:last-child{
                border-bottom: 1px #e8e8e8 solid;
            }

            a{
                padding-left: 19px;
                display: block;
                background: url("images/ul-arrow-gray.png") no-repeat 97%;
                color: #464646;
                text-decoration: none;

                &:hover{
                    color: #000;
                    background: url("images/ul-arrow-black.png") no-repeat 97%;
                }
            }
        }
    }
}