/* header main footer */


/**********************************************************header**********************************************************/
#header {
    margin-bottom: 20px;
}
#header.actueelopen{
    margin-bottom: 0;
}
#header>.global-width{
	position: relative;
    padding: 16px 0;
}
/*************************************logo header*************************************/
#header .logo-header{
	position: absolute;
    top: 0;
	width:158px;
	height: 92px;
}
/************************************* /logo header*************************************/
#header .menu{
	float: right;
}
#header .menu a{
	text-decoration: none;
}
/*************************************topmenu*************************************/
#header .topmenu li{
	margin-left: 12px;
	padding-left: 12px;
	float: left;
	border-left: 1px #ababab solid;
    line-height: 12px;
	font-size: 13px;
}
#header .topmenu li:first-child{
	border: none;
}
#header .topmenu li a{
	color: #ababab;
}
#header .topmenu li a:hover,
#header .topmenu li a.current,
#header .mainmenu li a:hover,
#header .mainmenu li a.current{
	color: #000;
}
/************************************* /topmenu*************************************/
/*************************************mainmenu*************************************/
#header .header-bottom{
    background: #fff;
}
#header .mainmenu {
	padding:48px 10px 11px 0px;
}
#header .mainmenu li{
	padding-left:27px; 
	float: left;
    font-family: Calibri;
	font-size: 16px;
    font-weight: bold;
    line-height: 18px;
}
#header .mainmenu li a{
	color: #878787;
}
/************************************* /mainmenu*************************************/
/********************************************************** /header**********************************************************/



/**********************************************************main**********************************************************/
#main .block{
	margin-bottom:20px;
	background: #fff;
}
#main>.block-item{
    margin-bottom: 0;
}
#main>.block-item a{
    padding: 20px 21px 20px 80px;
    display: block;
    font-size: 14px;
    color: #878787;
    line-height: 16px;
    text-decoration: none;
}
#main>.block-item a .item-image{
    margin-left: 20px;
    float: right;
    display: block;
}
#main>.block-item a .item-detail{
    display: block;
}
#main>.block-item a .item-detail .title{
    margin:20px 0;
    font-family: Calibri;
    font-size: 30px;
    font-weight: bold;
    color: #ec6707;
    line-height: 28px;
}
#main>.block-item a .item-detail p{
    padding-right: 381px;
    font-family: Calibri;
    color: #000;
    line-height: 24px;
}
#main .block-item a .item-detail span.button{
    padding: 3px;
    float: right;
    background: #ec6707;
    font-family: Calibri;
    font-weight: bold;
    color: #fff;
    line-height: 14px;
    cursor: pointer;
}
#main>.block-item a .item-detail span.button{
    margin-top: 14px;
}
/****************************************content**************************************/
#main .content {
    float: left;
    width: 720px;
}


#main .content .block-slider .control-list li{
    float: left;
    width: 33.3333%;
}

#main .content .block-slider .control-list li a{
    display: inline-block;
    margin-left: 1px;
    padding: 16px 0 17px 12px;
    background: #fff;
    font-size: 14px;
    font-weight: bold;
    color: #1c1c1c;
    text-decoration: none;
}
#main .content .block-slider .control-list li:first-child a{
    margin-left: 0px;
}
#main .content .block-slider .control-list li a:hover,
#main .content .block-slider .control-list li a.active{
    background: #dddbdb;
}

#main .content .block-slider .control-list li img{
    float: left;
}
#main .content .block-slider .control-list li .title{
    float: left;
    color: #878787;
    font-size: 14px;
    font-weight: bold;
}
#main .content .block-slider .control-list li .title,
#main .content .block-slider .control-list li span{
    margin-left: 12px;
}
#main .content .block-slider .control-list li .title{
    font-family: Calibri;    
}

#main .content .block.teaser-box{
	margin-left: 10px;
    float: left;
    width: 233px;
}
#main .content .block.teaser-box a{
    display: block;
    padding: 15px 14px 14px 19px;
    font-size: 13px;
    color: #878787;
    line-height: 18px;
    text-decoration: none;
}
#main .content .block.teaser-box a:hover{
    border: 2px #dcddde solid;
    padding: 13px 12px 12px 17px;
}
#main .content .block.teaser-box .brief,
#main .content .block.teaser-box .detail{
    display: block;
}
#main .content .block.teaser-box .brief p{
    margin-top: 9px;
}
#main .content .block.teaser-box .brief p.spe{
    margin-top: 18px;
}
#main .content .block.teaser-box .detail{
    margin-top: 21px;
    float: right;
    width: 102px;
}
#main .content .block.teaser-box .detail.third{
    margin-top: 0;
}
#main .content .block.teaser-box .detail span{
    display: block;
}
#main .content .block.teaser-box .style{
    font-family: Calibri;
    font-weight: bold;
}
#main .content .block.teaser-box .color1{
    color: #96c11f;
}
#main .content .block.teaser-box .button.color1{
    background:  #96c11f;
}
#main .content .block.teaser-box .color2{
    color: #ec6707;
}
#main .content .block.teaser-box .button.color2{
    background:  #ec6707;
}
#main .content .block.teaser-box .color3{
    color: #bd2c2e;
}
#main .content .block.teaser-box .button.color3{
    margin-top: 13px;
    background:  #bd2c2e;
}
#main .content .block.teaser-box a .title{
    font-size: 21px;
    line-height: 26px;
}
#main .content .block.teaser-box a .price{
    margin-top: 3px;
    font-size: 36px;
    line-height: 26px;
}
#main .content .block.teaser-box a .button{
    margin-top: 17px;
    padding:2px 0 4px;
    color: #fff;
    text-align: center;
    font-size: 14px;
    line-height: 14px;
}
#main .content .block.teaser-box a .button:hover{
    opacity: 0.85;
}
#main .content .block.teaser-box:first-child,
#main .main-bottom .block:first-child{
	margin-left: 0;
}


#main .breadcrumbs{
    padding:17px 0 17px 21px;
    height: 7px;
    font-size: 10px;
    color: #464646;
    line-height: 7px;
}
#main .breadcrumbs li{
    margin-left: 6px;
    padding-left: 11px;
    float: left;
    background: url("images/breadcrumb-arrow.png") no-repeat;
}
#main .breadcrumbs li:first-child
{
    margin-left: 0;
    padding-left: 0;
    background: none;
    font-weight: bold;
}
#main .breadcrumbs li.second{
    padding-left: 0;
    background: none;
}
#main .breadcrumbs li a{
    color: #464646;
    text-decoration: none;
}
#main .breadcrumbs li a:hover{
    color: #000;
}


#main .content .block-article{
    margin-bottom: 12px;
    padding: 30px 28px 40px 83px;
    background: #fff url("images/spinarrow.png") no-repeat 2.8% 5%;
    color: #464646;
    line-height: 18px;
}
#main .content .pagetitle{
    margin-bottom: 14px;
    display: inline-block;
    width: 333px;
    font-size: 20px;
    font-weight: bold;
    color: #ec6707;
    line-height: 24px;
}
#main .content .block-article .subtitle{
    font-size: 14px;
    font-weight: bold;
    color: #ec6707;

}
#main .content .block-article .fancybox{
    float: right;
}
#main .content .block-article p{
    margin-bottom: 20px;
    font-size: 13px;
}
#main .content .block-article p:first-child{
    margin-bottom: 30px;
    font-family: Myriad Pro;
    font-size: 16px;
    color: #000;
    line-height: 24px;
}
#main .content .block-article p:last-child{
    margin-bottom: 0;
}


#main .content .block-item{
    margin-bottom: 20px;
    padding: 20px 0 32px 0;
}
#main .content .block-item .other-news-item{
    padding: 19px 23px 0 80px;
    display: block;
    font-size: 13px;
    color: #464646;
    line-height: 18px;
    text-decoration: none;
}
#main .content .block-item .other-news-item:hover{
    margin-top: -1px;
    background: #ebeced;
    opacity: 0.85;
}
#main .content .block-item .other-news-item .item{
    display: block;
    padding-bottom: 19px;
    border-bottom: 1px #e8e8e8 solid;
}
#main .content .block-item .other-news-item .item-image{
    margin-right: 20px;
    float: left;
}
#main .content .block-item .other-news-item .item-detail .title{
    margin-bottom:18px;
    font-size: 20px;
}
#main .content .block-item .other-news-item .item-detail span.time{
    color: #878787;
}
#main .content .block-item .other-news-item .item-detail p{
    padding-right: 65px;
}
#main .content .block-item .other-news-item .item-detail span.button{
    margin-top: -22px;
}


#main .content .block-item .pager{
    margin-top: 29px;
    text-align: center;
}
#main .content .block-item .pager a{
    line-height: 18px;
    text-decoration: none;    
}
#main .content .block-item .pager a.pager-button{
    font-family: Calibri;
    font-size: 14px;
    color: #d1d1d1;
}
#main .content .block-item .pager a.pager-button.previous{
    margin-right: 4px;
}
#main .content .block-item .pager a.pager-button.next{
    margin-left: 6px;
}
#main .content .block-item .pager a.pager-num{
    margin-left: 2px;
    padding: 4px 7px;
    background: #d1d1d1;
    color: #fff;
}
#main .content .block-item .pager a.pager-num:hover,
#main .content .block-item .pager a.pager-num.current{
    background: #ec6707;
}
#main .content .block-item .pager a.pager-button.disabled{
    cursor: default;
}


#main .content .block-item-open{
    padding: 34px 21px 24px 80px;
}
#main .content .block-item-open .title{
    display: inline-block;
    font-family: Calibri;
    font-size: 30px;
    color: #ec6707;
    font-weight: bold;
    line-height: 30px;
}
#main .content .block-item-open .link{
    float: right;
    line-height: 0;
}
#main .content .block-item-open .style{
    font-size: 13px;
    color: #878787;
    line-height: 18px;
}
#main .content .block-item-open .item-detail{
    margin: 34px 0 32px;
}
#main .content .block-item-open .item-detail p{
    font-family: Calibri;
    font-size: 16px;
    color: #000;
    line-height: 24px;
}
#main .content .block-item-open .item-article{
    padding-left: 70px;
    font-size: 13px;
    color: #464646;
    line-height: 18px;
}
#main .content .block-item-open .item-article p{
    margin-top: 24px;
}
#main .content .block-item-open .item-article img{
    margin-left: 32px;
    float: right;
}
#main .content .block-item-open .link .back{
    margin-left: 3px;
    padding: 4px 8px 3px;
    float: right;
    background: #ec6707;
    font-family: Calibri;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
    text-decoration: none;
}
/**************************************** /content**************************************/
/****************************************sidebar**************************************/
#main .sidebar {
    float: right;
    width: 231px;
}
#main .sidebar .block{
    padding-top: 17px ;
}
#main .sidebar .block-login,
#main .sidebar .block-call{
    padding-left: 20px;
    padding-right: 6px;
}

#main .sidebar .title{
    margin-bottom: 16px;
    color: #b91e20;
    font-family: Calibri;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
}

#main .sidebar form p{
    margin-bottom: 2px;
}
#main .sidebar .block-call .call-form p #uwtel{
    margin-top: 5px;
}
#main .sidebar input[type="text"],
#main .sidebar input[type="password"],
#main .sidebar input[type="tel"]{
    margin-left: -9px;
    padding-left: 9px;
    width: 168px;
    height: 24px;
    border: 1px #e7e7e7 solid;
    font-size: 13px;
}
#main .sidebar *::-moz-placeholder{
    color: #cbcbcb;
}
#main .sidebar form button{
    margin-top: -29px;
    float: right;
    width:28px;
    height:28px;
    border-radius: 14px;
    background: #ec6707 url("images/smallbutton-arrow-white.png") no-repeat center;
    text-indent: -9999px;
    cursor: pointer;
}
#main .sidebar form button:hover,
#main .sidebar .block-button a:hover{
    opacity: 0.85;
}


#main .sidebar .block-login{
    padding-bottom: 9px;
}
#main .sidebar .login-a ul{
    margin-top: 4px;
}
#main .sidebar .login-a li{
    padding-top: 1px;
    font-size: 11px;
    line-height: 13px;
}
#main .sidebar .login-a a{
    color: #878787;
}


#main .sidebar .call-form{
    padding-bottom: 10px;
}


#main .sidebar .block-submenu .title,
#main .sidebar .block-social .title{
    padding-left:20px;
}
#main .sidebar .block-submenu li{
    border-top:1px #e7e7e7 solid;
    font-size: 13px;
    line-height: 34px;
}
#main .sidebar .block-submenu li a{
    padding-left: 20px;
    display: block;
    background: url("images/ul-arrow-gray.png") no-repeat 93%;
    color: #464646;
    text-decoration: none;
}
#main .sidebar .block-submenu li a:hover{
    background: url("images/ul-arrow-black.png") no-repeat 93%;
}


#main .sidebar .block-button{
    margin-bottom: 22px;
    padding: 0;
}
#main .sidebar .block-button a{
    padding: 21px 20px 20px;
    display: block;
    background: #ec6707 url("images/bigbutton-arrow-white.png") no-repeat 91%;
    color: #fff;
    font-family: Calibri;
    font-weight: bold;
    font-size: 24px;
    line-height: 20px;
    text-decoration: none;
}


#main .sidebar .block-social .title{
    float: left;
}
#main .sidebar .block-social ul{
    margin: -2px 12px 0 0;
    float: right;
}
#main .sidebar .block-social ul li{
    margin-left: 3px;
    float: left;
}
/**************************************** /sidebar**************************************/
/****************************************main-bottom**************************************/
#main .main-bottom{
	margin-bottom: 30px;
}
#main .main-bottom .block{
	margin-left: 10px;
    padding-top: 15px;
    float: left;
}
#main .main-bottom .title{
    margin: 0 0 27px 19px;
    display: inline-block;
    font-family: Calibri;
    font-size: 14px;
    font-weight: bold;
    color: #b91e20;
    line-height: 18px;
}
#main .main-bottom .block-faq{
    padding-bottom: 7px;
    width: 476px;
    font-size: 13px;
    line-height: 18px;
}
#main .main-bottom .block-faq>a{
    margin-right: 22px;
    padding-right: 26px;
    float: right;
    background: url("images/faq-arrow-gray.png") no-repeat right;
    color: #878787;
    font-size: 13px;
    line-height: 18px;
}
#main .main-bottom .block-faq>a:hover{
    background: url("images/faq-arrow-black.png") no-repeat right;
}
#main .main-bottom .block-faq li{
    border-top: 1px #e8e8e8 solid;
    line-height: 33px;
}
#main .main-bottom .block-faq li:last-child{
    border-bottom: 1px #e8e8e8 solid;
}
#main .main-bottom .block-faq li a{
    padding-left: 19px;
    display: block;
    background: url("images/ul-arrow-gray.png") no-repeat 97%;
    color: #464646;
    text-decoration: none;
}
#main .main-bottom .block-faq ul a:hover{
    background: url("images/ul-arrow-black.png") no-repeat 97%;    
}
#main .main-bottom .block-faq ul a:hover{
    color: #000;
}


#main .main-bottom .block-newsslider{
/*    padding: 15px 20px 22px 0;*/
    padding-top: 0;
    position:relative; 
	width: 233px;
    font-family: Myriad Pro;
    font-size: 21px;
    line-height: 28px;
}
#main .main-bottom .block-newsslider .title{
    position: absolute;
    margin:0;
    top:15px;
    left: 19px;
    z-index: 1;
}
#main .main-bottom .block-newsslider>a{
    padding: 77px 36px 55px 17px;
    display: block;
    background: url("images/bigbutton-arrow-gray.png") no-repeat 91% 91%;
    color: #1c1c1c;
    text-decoration: none;
}
#main .main-bottom .block-newsslider>a ul li{
    /*padding: 58px 17px 22px;*/
    overflow: hidden;
    /*text-overflow:ellipsis;*/

}
#main .main-bottom .block-newsslider>a:hover{
    background: url("images/bigbutton-arrow-black.png") no-repeat 91% 91%;
}


#main .main-bottom .block-tweets{
	width: 231px;
    background: #bbeffa;
    font-size: 11px;
    line-height: 16px;
    color: #1c1c1c;
}
#main .main-bottom .block-tweets .title{
    margin-bottom: 17px;
}
#main .main-bottom .block-tweets .title,
#main .main-bottom .block-tweets span{
    display: block;
    color: #32ccfe;
}
#main .main-bottom .block-tweets span.second{
    display: inline;
    color: #1c1c1c;
    text-decoration: underline;
}
#main .main-bottom .block-tweets .tweets-box{
    padding: 7px 15px 5px 20px;
    border-top: 1px #fff solid;
}
#main .main-bottom .block-tweets .tweets-box:first-child{
    margin-top: 21px;
}

#main .main-bottom .block-tweets .tweets-box a{
    margin:7px 0 11px;
    padding: 0 28px 0 8px;
    float: right;
    height: 21px;
    background: #32ccfe url("images/twitter.png") no-repeat center right;
    font-family: Calibri;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
#main .main-bottom .block-tweets .tweets-box img{
    cursor: pointer;
}
/**************************************** /main-bottom**************************************/
/********************************************************** /main**********************************************************/
/**********************************************************footer**********************************************************/
#footer {
    margin: 10px 0 30px;
    background: #fff;
}

#footer .global-width {
    padding: 14px 0;
}
#footer .logo-footer{
    float: left;
    width: 142px;
    height: 16px;
}
#footer .contactinformation{
    padding-top: 5px;
    float: right;
    color: #979797;
}
#footer .contactinformation li{
    margin-left: 7px;
    padding-left: 7px;
    float: left;
    border-left:1px #ec6707 solid;
    line-height: 9px;
}
#footer .contactinformation li a{
    color: #979797;
    text-decoration: none;
}
#footer .contactinformation li:first-child{
    border: none;
}
/********************************************************** /footer**********************************************************/