#main{
    >.block-item{
        margin-bottom: 0;

        a{
            padding: 20px 21px 20px 80px;
            display: block;
            font-size: 14px;
            color: #878787;
            line-height: 16px;
            text-decoration: none;

            .item-image{
                margin-left: 20px;
                float: right;
                display: block;
            }

            .item-detail{
                display: block;

                .title{
                    margin:20px 0;
                    font-family: Calibri;
                    font-size: 30px;
                    font-weight: bold;
                    color: #ec6707;
                    line-height: 28px;
                }

                p{
                    padding-right: 381px;
                    font-family: Calibri;
                    color: #000;
                    line-height: 24px; 
                }

                span.button{
                    margin-top: 14px;
                }
            }
        }
    }
}